<!-- <div class="album py-5 bg-light">から4個連続の</div>までを残す -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- レコードが格納されたobjects_listから
             レコードを1行ずつrecordに取り出す -->
        {% for record in object_list %}
        <!-- 列要素を配置 -->
        <div class="col">
          <div class="card shadow-sm">
            <!-- svgタグをimgに変更
            src属性を追加して1枚目のイメージのURLに設定 -->
            <img src="{{ record.image1.url }}"
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
            </img>
            <div class="card-body">
              <p class="card-text">
                  <!-- titleフィールドを出力 -->
                  {{record.title}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- 詳細ページボタン -->
                  <button type="button" 
                      class="btn btn-sm btn-outline-secondary" 
                      onclick="location.href='{% url 'review:review_detail' record.pk %}'">
                      View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 8個の<div class="col">のブロックを削除 -->
        <!-- 3個連続の</div>を残してドキュメントの末尾まで削除 -->
        <!-- forブロックここまで -->
        {% endfor %}
      </div>
    </div>
  </div>