<!-- ここまでのコードを全て削除 -->
  <!-- タイトルとナビゲーションボタン -->
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <!-- タイトルと本文 -->
        <h1 class="fw-light">ゲームの評判</h1>
        <br>
        <img src="./static/img/title_icon.png" alt="title_icon" />
        <p class="lead text-muted">
          皆さんがプレイしたゲームのレビューを投稿・閲覧できるサービスです！
          たくさんのレビューをお待ちしております！</p>
        <br>
        <p>
          <!-- ナビゲーションボタン -->
          {% if user.is_authenticated %}
          <!-- ログイン中のボタン -->
          <a href="{% url 'review:post' %}" class="btn btn-primary my-2">レビューを投稿する</a>
          <a href="{% url 'review:post_game' %}" class="btn btn-info my-2">ゲームを追加する</a>
          <a href="{% url 'accounts:logout' %}" class="btn btn-secondary my-2">ログアウト</a>
          {% else %}
          <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2" name="signup_now">今すぐサインアップ</a>
          <a href="{% url 'accounts:login' %}" class="btn btn-secondary my-2">登録済みの方はログイン</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>

<!-- 以下のコードを全て削除 -->